@font-face {
  font-family: "Libre Baskerville";
  src: url("../Fonts/libre-baskerville/LibreBaskerville-Regular.otf");
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../Fonts/libre-baskerville/LibreBaskerville-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../Fonts/libre-baskerville/LibreBaskerville-Bold.otf");
  font-weight: 700;
}
