@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

