html{-webkit-text-size-adjust:none;-webkit-touch-callout:none}
body *{text-overflow:ellipsis;font-family: helvetica,arial,sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0.12)}
body{margin:0;}
img{border:0}


.iArt .meta:after,
.clear:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/*------ Article Scaling ------*/
.scale1 { font-size:90%; }
.scale2 { font-size:100%; }
.scale3 { font-size:110%; }
.scale4 { font-size:120%; }
.scale5 { font-size:130%; }

.iArt {
    padding:10px;
    background-color:#ffffff;
    }
.iArt p {
    text-align:justify;
    }
.iArt h4 { /* Title */
    font: normal 2em/1.1em Georgia, "Times New Roman", Times, serif;
    margin:.5em 0;
    letter-spacing:-.03em;
    }
.iArt h4.art-merged {
    font-size:1.5em;
    line-height:normal;
    margin:1em 0;
    }
.iArt h5 { /* Subtitle */
    font: normal 1.5em/normal Georgia, "Times New Roman", Times, serif;
    margin:1em 0;
    }
.iArt h5.art-merged {
    font-size:1.2em;
    line-height:normal;
    }
.iArt h6 {font-size:1em;margin:1.5em 0 1em;} /* Paragraph Title */
.iArt .art-annotation { /* Article Annotation */
    font: italic 1em/1.4em Georgia, "Times New Roman", Times, serif;
    color:#333;
    border:dashed #aaa;
    border-width:1px 0;
    margin:1em 0;
    padding:1em .7em;
    }
.iArt .art-lead { /* Article Lead */
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
    }
.iArt .meta {
    margin:0;
    padding:0;
    list-style-type:none;
    font-size:14px;
    line-height:1.5em;
    }
.iArt .meta li {
    float:left;
    padding-right:0.4em;
    margin-right:0.4em;
    color:#7f7f7f;
    border-right:1px solid #e1e1e1;
    }
.iArt .meta li:last-child {
    border:none;
    }
.iArt .meta a {
    text-decoration:none;
    float:left;
    color:#7f7f7f;
    border-bottom:1px dashed #aaa;
    }
.iArt .pic {
    display:inline-block;
    max-width:100%;
    overflow:hidden;
    position:relative;
    margin-bottom:.3em;
    text-decoration:none;
    }
.iArt .pic + strong {
    display: block;
    }
.iArt .pic em {
    width:96%;
    padding:0 2%;
    position:absolute;
    bottom:0;
    left:0;
    white-space:nowrap;
    overflow:hidden;
    font: normal 10px/15px Arial, Helvetica;
    text-align: right;
    background:rgba(0,0,0,0.15);
    color:#fff;
    }
.iArt .art-merge {
    display:block;
    position:relative;
    text-decoration:none;
    border-bottom:1px dashed #aaa;
    margin-bottom:1.9em;
    }
.iArt .art-merge span {
    display:table;
    position:relative;
    top:7px;
    margin:0 auto;
    background:#fff url(images/i-merge.gif) no-repeat 0 4px;
    font: normal 12px/14px Arial, Helvetica;
    color:#bbb;
    padding:0 2px 0 21px;
    }
.iArt .art-moreimages a {
    display:inline-block;
    margin:0 1px 5px 0;
    border:3px solid #e5e5e5;
    vertical-align: bottom;
    }
.iArt .art-moreimages a img {
    display:block;
    }

.src-res {
    background-color:#ab001d;
    color:#fff;
    padding:0 .2em;
    }
.flowcss
{
    padding: 12px;
    text-align:justify;
}

.flowcssHeader
{
    padding: 12px;
}

.flowcss2
{
    float: left;
    padding: 12px;
    width: 265px;
    text-align:justify;
}

.flowcss2nojustify
{
    float: left;
    padding: 12px;
    width: 265px;
}

/* class for 2 columns text view*/
.flowcss-2column {
    float: left;
    padding: 12px;
    width: 488px;
    text-align:justify;
}
